:root {

    --color-sidebar-bg: #043927;
    --color-sidebar-hover: #246B57;
    --color-sidebar-active: #2E7D64;

    --color-header-bg: #FFFFFF;

    --color-background: #E2E9E4;
    --color-card-bg: #FFFFFF;

    --color-primary: #1B4D3E;
    --color-primary-hover: #153C31;

    --color-text-primary: #17221E;
    --color-text-secondary: #66756F;

    --color-border: #DCE7E2;

    --color-success: #16803C;
    --color-warning: #D97706;
    --color-danger: #DC2626;
    --color-info: #2563EB;

    --shadow-card: 0 1px 3px rgba(0, 0, 0, 0.06);
}

:root[data-theme="dark"] {
    --color-sidebar-bg: #0A2418;
    --color-sidebar-hover: #14382A;
    --color-sidebar-active: #1B4D3E;

    --color-header-bg: #16201C;

    --color-background: #101512;
    --color-card-bg: #182420;

    --color-primary: #278667;
    --color-primary-hover: #329C78;

    --color-text-primary: #C7D0CB;
    --color-text-secondary: #8A988F;

    --color-border: #2A3733;

    --color-success: #2BAD7D;
    --color-warning: #CE9D1E;
    --color-danger: #CB5D5D;
    --color-info: #4F87CD;
}

